%h1 Listing users
%table
  %thead
    %tr
      %th Name
      %th Age
      %th Occupation
      %th
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.age
        %td= user.occupation
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
        %td
          \|
          = link_to 'Short URL', short_user_path(user)
%br/
= link_to 'New User', new_user_path
