%h1 Listing start_ups
%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
  %tbody
    - @start_ups.each do |start_up|
      %tr
        %td= start_up.name
        %td= start_up.description
        %td= link_to 'Show', start_up
        %td= link_to 'Edit', edit_start_up_path(start_up)
        %td= link_to 'Destroy', start_up, method: :delete, data: { confirm: 'Are you sure?' }
        %td
          \|
          = link_to 'Short URL', short_start_up_path(start_up)
%br/
= link_to 'New Start up', new_start_up_path
